/* General Body */

/* Navbar */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links .nav-btn {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #0056b3;
}

.nav-links .nav-btn:hover {
    background-color: #003f7f;
}



.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

/* Inputs */
.login-box input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button inside box */
.login-box .btn {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 15px auto 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box .btn:hover {
    background-color: #0056b3;
}

/* Heading */
.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}
.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;  
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
