
{% extends 'base.html' %}


{% block title %}
    
{% endblock title %}
    

{% block contant %}
    <div class="container">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
{% endblock contant %}
    
